{% extends "base.html" %}
{% block content %}
<h1>Python Functions API</h1>
<ul>
    <li><a href="/calculator">Calculator</a></li>
    <li><a href="/pyramid">Pyramid</a></li>
    <li><a href="/fibonacci">Fibonacci</a></li>
    <li><a href="/factorial">Factorial</a></li>
    <li><a href="/prime">Prime Number</a></li>
    <li><a href="/palindrome">Palindrome</a></li>
    <li><a href="/armstrong">Armstrong Number</a></li>
    <li><a href="/reverse">Reverse Number</a></li>
    <li><a href="/sort">Sort Array</a></li>
    <li><a href="/search">Search</a></li>
</ul>
{% endblock %}
